<h1>About</h1>

<p>From a basic tipi in snowy mountains to a luxurious tipi on the beach.
  Rent a tipi connects you with tipi owners all over the world. Get closer to nature and book a tipi now!</p>
<%= link_to 'Back', tipis_path %>
