<h1>Contact us</h1>

<p>Do you any have questions about renting a tipi or do you want to know more about the posibilities of renting out your own tipi? Fill out this form and we'll contact you within 24 hours.</p>
