@import "https://fonts.googleapis.com/css?family=Titillium+Web";
@import "https://fonts.googleapis.com/css?family=Muli";

@import "bootstrap";
@import "bootstrap-sprockets";
@import "welcome";
@import "scaffolds";

h1, h2, h3 {
  text-align: center;
}
.login-field {
  text-align: center;
  padding-top: 20px;
  background: #fdfdfd;
  border-radius: 4px;
  width: 98%;
  box-shadow: 1px 1px 2px #333333;
}

.login-field input {
  min-width: 300px;
  width: 60%;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  margin: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px #333333;
  font-style: italic;
}

// removes bullets

.no-bullets {
  list-style-type: none;
}

.tipi-box {
  background: #fdfdfd;
  border-radius: 3px;
  margin: 20px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 2px #333333;
  margin: auto;
}

.tipi-pic {
  float: right;
  border-radius: 3px !important;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 3px #333333;
}

@media screen and (max-width: 960px) {

  .jumbotron {
    height: 500px;
  }

  .jumbotron h1 {
    font-size: 125px;
  }
}

@media screen and (max-width: 480px) {
  .jumbotron {
    height: 300px;
  }

  .jumbotron h1 {
    font-size: 75px;
  }
}

.big-box {
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #333333;
  background-size: cover;
  overflow: hidden;
}

@media screen and (min-width: 375px){

  .tipi-box {
    width: 96%;
  }

  .login-field {
    width: 96%;

  }

}
