body {
      background-color:white ;
//   color: darkblue;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
}
// .content {
//   back#304B7A
//   width: 706px;
//
//
// }
//
// .header{
  // height: 450px;
  // //width: 100vw;
  // background-image: url("http://www.magicaltipis.co.uk/files/6213/9465/4289/Magical_Camping_LR_Night-16.jpg");
  // -webkit-background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
// }
// <<<<<<< HEAD
//nav bar
.container-fluid {
font-family: "Muli";
}
.breadcrumb{
}
//
// =======
// >>>>>>> c7f61c20417e7dbc245f201e8139f2cc5ba68246
.jumbotron {
height: 600px;
width: 100%;
background: url("http://www.magicaltipis.co.uk/files/6213/9465/4289/Magical_Camping_LR_Night-16.jpg") center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
background-size: cover;
overflow: hidden;
background-position: bottom;
// font-family: 'Muli', sans-serif;
// text-align: center;
//color: white;
// font-size: 150px;
}
.jumbotron h1 {
  color: white;
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 200px;
  vertical-align: middle;
}
.btn-group{
margin-left: 30px;
}
.container p {
font-size: 15px !important;
text-align: left !important;
line-height: 90%;
margin-top: 20px;
margin-left: 30px;
}
.pagination{
  object-position: center;
}
//
h1{
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 30px;
}
h2{
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 30px;
}
p{
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 20px;
}
//footer
footer {
    display: block;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}
form {
    padding-left: 30px;
    font-family: 'Muli', sans-serif;
    
  }

#message {
  width: 60vw;
  height: 150px;
}
// }
//
// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }
//
// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }
//
// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }
//
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }
//
// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }
//
// #notice {
//   color: green;
// }
//
// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }
//
// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px;
//   padding-bottom: 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//
//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px;
//     margin-bottom: 0px;
//     background-color: #c00;
//     color: #fff;
//   }
//
//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }
